@inherits LayoutComponentBase

<PageTitle>MyCOLL - Gestão de Loja</PageTitle>

<div class="d-flex flex-row vh-100">
    <!-- Full-height Sidebar -->
    <NavMenu />

    <!-- Main content -->
    <main class="flex-grow-1 overflow-auto bg-light p-4">
        <div class="container-fluid">
            @Body
        </div>
    </main>
</div>
